@use '../variables' as vars;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 10rem;
  max-width: 1200;
  margin: 0 auto;

  .navbar__logo {
    font-size: 24px;
    font-weight: 500;
    color: vars.$primary-color;
  }

  .navbar__links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-left: auto;
    padding: 0;

    li {
        margin: 0;
    }

    a {
      text-decoration: none;
      color: vars.$primary-color;
      font-weight: 200;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &--default {
    background-color: vars.$default-nav-color;
  }

  &--sidequests {
    background-color: vars.$sidequests-nav-color;
    .navbar__logo,
    .navbar__links a {
      color: vars.$sidequests-font-color;
    }
  }

}
