@use '../variables' as vars;

.about-card {
  font-family: vars.$font-family;
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;   // centers horizontally in page
    align-items: center;       // vertical alignment
    gap: 12rem;                 // space between title and box
    max-width: 1200px;
    margin: 5rem auto;         // vertical spacing from top

    @media (max-width: 992px) {
      flex-direction: column;  // stack on smaller screens
      gap: 2rem;
      margin: 3rem auto;
    }
  }

&__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    color: vars.$primary-color;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 32px;
      text-align: center;
    }
  }

&__box {
    flex: 1;
    max-width: 900px;
    min-height: 600px;
    background: vars.$box-color;
    padding: 1rem 2rem;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }


&__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: vars.$about-text-color;
    text-align: left;

    @media (max-width: 768px) {
      text-align: center;
      font-size: 16px;
    }
  }

}


