h1,p{
    font-family: sans-serif;
}
h1{
    font-size: 3em;
    margin-bottom: 0.2em;
}
main{
    width:100vw;
    height:100vh;
    display:grid;
    place-items:center;
    background-color: rgb(225, 225, 214);
}
    

section {
    padding:2em;
    text-align: center;
    background-color: rgba(253, 253, 225, 0.449);
    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  
    
  }
  

  section:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }