$font-family: 'Fira Code', monospace;

// project card styles:
$card-font-color: #e7e5e5;

// nav-bar stuff:
$default-nav-color: #F5ECF6;
$sidequests-nav-color: #181923;

// background colors
$default-background-color: #F5ECF6;
$sidequests-background-color: #191a26;

// font colors
$primary-color: #191819;
$sidequests-font-color: #d9d9f3;

// about-card
$box-color: #1D1D1D;
$about-text-color: #ffffff;

// resume page
$resume-box-color: #e4dce4;
