$primary-color: #191819;
// $background-color: #151627;
$background-color: #F5ECF6;
$font-family: 'Fira Code', monospace;

// project card styles:
$card-font-color: #B5B5B5;


// nav-bar stuff:
// $default-nav-color: #f4c6f2;
$default-nav-color: #e2b7e0;
$sidequests-nav-color: #afb2ee;