// $background-color: #151627;
// $background-color: #F5ECF6;
$font-family: 'Fira Code', monospace;

// project card styles:
$card-font-color: #B5B5B5;


// nav-bar stuff:
$default-nav-color: #d4bedb;
$sidequests-nav-color: #303e6c;

// background colors
$default-background-color: #F5ECF6;
$sidequests-background-color: #afb2ee;

// font colors
$primary-color: #191819;
