@import '../../styles/variables';

.home {
  min-height: 100vh;
  // background-color: $background-color;
  display: flex;
  flex-direction: column;

  .home__content {
    flex: 1; // take remaining space
    display: flex;
    justify-content: center; // horizontal centering
    align-items: center;     // vertical centering
  }

  .home__title {
    font-size: 48px;
    font-weight: 400;
    color: $primary-color;
    text-align: center;
  }

  .projects__section {
    display: flex;
    align-items: flex-start;
    gap: 10px; // space between title and grid
    margin-top: 120px;
  }

  .projects-title {
      writing-mode: vertical-rl;
      transform: rotate(180deg); // flips it bottom-to-top
      color: $primary-color;
      // font-family: $font-family;
      font-size: 32px;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8.5rem;
    justify-content: center;
  }
}